html {
  border-collapse: collapse;
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
  line-height: 1;
}

* {
  border-collapse: inherit;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}