.todos-container {
  width: 100%;
  max-width: 800px;
  padding: 0 16px;
  margin: 0 auto;
}

.todos-header {
  color: #777777;
  margin: 32px 0;
}

.todos-input-container {
  display: flex;
  width: 100%;
  height: 67px;
  margin: 16px 0;
}

.todos-input-wrapper {
  flex: 1
}

.todos-input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #D0D1DC;
  color: #A1A9B4;
  background-color: transparent;
  padding: 16px 10px;
  outline: none;
}

.todos-input-error {
  margin-top: 5px;
  color: #FE5054;
  font-size: 14 px;
}

.todos-button-container {
  display: flex;
  margin-top: 8px;
}

.todos-button {
  border: 0;
  border-radius: 4px;
  padding: 10px;
  height: 39px;
  cursor: pointer;
  outline: none;
  transition: .3s ease;
  font-size: 14px;
}

.todos-button-add {
  width: 100%;
}

.todos-button-positive {
  flex: 1;
  margin-right: 16px;
  background-color: #20b461;
  color: #ffffff;
}

.todos-button-negative {
  flex: 1;
  border: 1px solid #FE5054;
  background-color: transparent;
  color: #FE5054;
}

.todos-button-add:hover, .todos-button-positive:hover {
  background-color: #0f552e;
}

.todos-button-negative:hover {
  background-color: #FE5054;
  color: #ffffff;
}

.todos-table {
  width: 100%;
  overflow-x: auto;
  height: calc(100vh - 337px);
}

.todos-table-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-bottom: 1px solid #D0D1DC;
  min-height: 110px;
}

.todos-table-row-header {
  display: none;
}

.todos-column {
  flex: 1px;
  display: flex;
  color: #A1A9B4;
  margin-bottom: 8px;
  line-height: 1.5;
}

.todos.column:not(:last-child) {
  margin-bottom: 0;
}

.todos-column-description {
  font-weight: bold;
  margin-right: 3px;
}

.todos-column-header {
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: #777777;
}

.todos-field-wrapper {
  margin: 16px 0;
}

.todos-text {
  color: #777777;
  margin-bottom: 16px;
}

@media(min-width: 800px) {
  .todos-table-row {
    flex-direction: row;
    min-height: unset;
  }

  .todos-table-row-header {
    border-top: 1px solid #D0D1DC;
    display: flex;
  }

  .todos-column {
    margin: 0;
  }
}